.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  background-image: linear-gradient(120deg, rgb(245, 190, 50), rgb(255, 205, 124));
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  width: 150px;
  transition: opacity 0.3s ease;
  margin: 2rem auto 3rem;
}

.back-to-top:hover {
  opacity: 0.85;
}

.back-to-top i {
  font-size: 1rem;
}

.season-calendar {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.season-calendar img{
  width: 50px;
}

.season-calendar .notactive{
  filter: invert(80%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
}